@charset "utf-8";
/* CSS Document */
h1,h3{text-align:center;
}

.subtitulo{
	font-size:12px;
}



table td{
	text-align:center;
	border:1px #000099 solid;

}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

table .primera_fila{
	font-size:1.5em;
	background-color:rgb(146, 146, 145);
}

.centrado{
	text-align:center;
}

